body{
    background-color: #7FFFD499;
 }

 h1{  
   
   font-style: italic; 

 }

 h3{

    color: #6bf 

 }

 hr{
    border-style: dotted none none none;
    color: gray;
    width: 20%;
    border-width: 4px;
 }
 
.minhaFoto{
   height: 200px;
}
